<section id="breadcrumb" class="breadcrumb-section relative-position backgroud-style">
    <div class="blakish-overlay"></div>
    <div class="container">
      <div class="page-breadcrumb-content text-center">
        <div class="page-breadcrumb-title">
          <h2 class="breadcrumb-head black bold"><span>Khóa học đang tham gia <span class="badge badge-danger">{{listCourseUserJoin?.totalCount}}</span></span></h2>
        </div>
        <div class="page-breadcrumb-item ul-li">
          <ul class="breadcrumb text-uppercase black">
            <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
            <li class="breadcrumb-item active">Khóa học đang tham gia</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <table class="table">
    
  <thead class="thead-dark">
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Tên Khóa Học</th>
      <th scope="col">Thời Gian Tham Gia</th>
      <th scope="col">Cảnh Báo</th>
      <th scope="col" colspan="2">Tùy Chọn</th>
    </tr>
  </thead>
  <tbody *ngIf="listCourseUserJoin?.totalCount>0;else NoJoinCourse">
    <tr *ngFor="let course of listCourseUserJoin?.items;index as index">
      <th scope="row">{{index+1}}</th>
      <td>{{course?.coursesName}}</td>
      <td>{{course?.creationTime|date}}</td>
      <td *ngIf="course.hasBeenLock;else NoBlock">
        <button [disabled]="course.hasBeenLock" type="button" class="btn btn-outline-danger"><i class="fa fa-ban"></i> Banned</button>
      </td>
      <ng-template #NoBlock>
        <td></td>
      </ng-template>
      <td>
        <button style="margin-right: 3px;" routerLink='/courses/{{course?.idCourse}}' type="button" class="btn btn-outline-primary"><i class="fa fa-eye" aria-hidden="true"></i> Xem&nbsp;</button>
        <button [disabled]="course.hasBeenLock" (click)="deleteJoinCourse(course.id)" type="button" class="btn btn-outline-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Xóa</button>
      </td>
    </tr>
  </tbody>
  <ng-template #NoJoinCourse>
    <tbody>
      <td colspan="5" style="text-align: center;"><h2>Bạn Chưa Tham Gia Khóa Học Nào <a routerLink='/courses' style="color: blue;">Tham Gia Ngay</a></h2></td>
      
    </tbody>
  </ng-template>
</table>
