
  <!-- Start of Header section
  ============================================= -->
  <!-- Start of breadcrumb section
  ============================================= -->
  <section id="breadcrumb" class="breadcrumb-section relative-position backgroud-style">
    <div class="blakish-overlay"></div>
    <div class="container">
      <div class="page-breadcrumb-content text-center">
        <div class="page-breadcrumb-title">
          <h2 class="breadcrumb-head black bold"><span>Chi Tiết</span> Khoá Học</h2>
        </div>
        <div class="page-breadcrumb-item ul-li">
          <ul class="breadcrumb text-uppercase black">
            <li class="breadcrumb-item"><a href="index-1.html">Trang Chủ</a></li>
            <li class="breadcrumb-item active">Chi Tiết</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- End of breadcrumb section
  ============================================= -->
  <!-- Start of course details section
  ============================================= -->
  <section id="course-details" class="course-details-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="course-details-item">
           
            
            


              <div class="course-details-category ul-li">
                <span>Course <b>Section:</b></span>
                <ul>
                  <li><a href="#">SEction 1 </a></li>
                  <li><a href="#">SEction 2 </a></li>
                  <li><a href="#">SEction 3 </a></li>
                  <li><a href="#">SEction 4 </a></li>
                  <li><a href="#">SEction 5 </a></li>
                </ul>
              </div>
            </div>
            <div class="course-review">
              <div class="section-title-2 mb20 headline text-left">
                <h2><span>Đánh Giá</span> Khoá Học:</h2>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="ratting-preview">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="avrg-rating ul-li">
                          <b>Average Rating</b>
                          <span class="avrg-rate">5.0</span>
                          <ul>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                          </ul>
                          <b>1.225 Ratings</b>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="avrg-rating ul-li">
                          <span>Details</span>
                          <div class="rating-overview">
                            <span class="start-item">5 Starts</span>
                            <span class="start-bar"></span>
                            <span class="start-count">1.225</span>
                          </div>
                          <div class="rating-overview">
                            <span class="start-item">4 Starts</span>
                            <span class="start-bar"></span>
                            <span class="start-count">0</span>
                          </div>
                          <div class="rating-overview">
                            <span class="start-item">3 Starts</span>
                            <span class="start-bar"></span>
                            <span class="start-count">0</span>
                          </div>
                          <div class="rating-overview">
                            <span class="start-item">2 Starts</span>
                            <span class="start-bar"></span>
                            <span class="start-count">0</span>
                          </div>
                          <div class="rating-overview">
                            <span class="start-item">1 Starts</span>
                            <span class="start-bar"></span>
                            <span class="start-count">0</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="couse-comment">
              <div class="blog-comment-area ul-li about-teacher-2">
                <ul class="comment-list">
                  <li>
                    <div class=" comment-avater">
                      <img src="assets/img/blog/DoVanThanh.jpg" alt="">
                    </div>

                    <div class="author-name-rate">
                      <div class="author-name float-left">
                        BỞI: <span>Đỗ Vạn Thành</span>
                      </div>
                      <div class="comment-ratting float-right ul-li">
                        <ul>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                        </ul>
                      </div>
                      <div class="time-comment float-right">3 Ngày trước</div>
                    </div>
                    <div class="author-designation-comment">
                      <h3>Quá hay! Cho hẳn 5 sao</h3>
                      <p>
                        Bài học rất chi tiết dễ hiểu,.....
                      </p>
                    </div>
                  </li>

                  <li>
                    <div class=" comment-avater">
                      <img src="assets/img/blog/PhamQuangTrung.jpg" alt="">
                    </div>

                    <div class="author-name-rate">
                      <div class="author-name float-left">
                        BỞI: <span>Phạm Quang Trung</span>
                      </div>
                      <div class="comment-ratting float-right ul-li">
                        <ul>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                        </ul>
                      </div>
                      <div class="time-comment float-right">2 Ngày trước</div>
                    </div>
                    <div class="author-designation-comment">
                      <h3>Cũng được phết</h3>
                      <p>
                        Giao diện cũng ổn, khá bổ ích
                      </p>
                    </div>
                  </li>

                  <li>
                    <div class=" comment-avater">
                      <img src="assets/img/blog/NguyenThaiHoa.jpg" alt="">
                    </div>

                    <div class="author-name-rate">
                      <div class="author-name float-left">
                        BỞI: <span>Nguyễn Thái Hoà</span>
                      </div>
                      <div class="comment-ratting float-right ul-li">
                        <ul>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>

                        </ul>
                      </div>
                      <div class="time-comment float-right">15 Phút trước</div>
                    </div>
                    <div class="author-designation-comment">
                      <h3>Như concak</h3>
                      <p>
                        Bỏ mẹ đi đừng làm nữa ==
                      </p>
                    </div>
                  </li>
                </ul>

                <div class="reply-comment-box" style="padding-bottom: 10px;">
                  <div class="review-option">
                    <div class="section-title-2  headline text-left float-left">
                      <h2>Thêm <span>Đánh Giá</span></h2>
                    </div>
                    <div class="review-stars-item float-right mt15">
                      <span>Đánh giá của bạn: </span>
                      <form class="rating">
                        <label>
                          <input type="radio" name="stars" value="1" />
                          <span class="icon"><i class="fas fa-star"></i></span>
                        </label>
                        <label>
                          <input type="radio" name="stars" value="2" />
                          <span class="icon"><i class="fas fa-star"></i></span>
                          <span class="icon"><i class="fas fa-star"></i></span>
                        </label>
                        <label>
                          <input type="radio" name="stars" value="3" />
                          <span class="icon"><i class="fas fa-star"></i></span>
                          <span class="icon"><i class="fas fa-star"></i></span>
                          <span class="icon"><i class="fas fa-star"></i></span>
                        </label>
                        <label>
                          <input type="radio" name="stars" value="4" />
                          <span class="icon"><i class="fas fa-star"></i></span>
                          <span class="icon"><i class="fas fa-star"></i></span>
                          <span class="icon"><i class="fas fa-star"></i></span>
                          <span class="icon"><i class="fas fa-star"></i></span>
                        </label>
                        <label>
                          <input type="radio" name="stars" value="5" />
                          <span class="icon"><i class="fas fa-star"></i></span>
                          <span class="icon"><i class="fas fa-star"></i></span>
                          <span class="icon"><i class="fas fa-star"></i></span>
                          <span class="icon"><i class="fas fa-star"></i></span>
                          <span class="icon"><i class="fas fa-star"></i></span>
                        </label>
                      </form>
                    </div>
                  </div>
                  <div class="teacher-faq-form">
                    <form method="POST" action="https://jthemes.net/no-form"
                          data-lead="Residential">
                      <!-- <div class="row">
                        <div class="col-md-6">
                          <label for="name">Your Name</label>
                          <input type="text" name="name" id="name" required="required">
                        </div>
                        <div class="col-md-6">
                          <label for="phone">Email Address</label>
                          <input type="tel" name="phone" id="phone" required="required">
                        </div>
                      </div> -->
                      <label for="comments">Nội dung</label>
                      <textarea name="comments" id="comments" rows="2" cols="20"
                                required="required"></textarea>
                      <div class="nws-button text-center  gradient-bg text-uppercase">
                        <button type="submit" value="Submit">Gửi nội dung</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
  </section>
