<!-- Start of contact area
    ============================================= -->
<section id="contact-area" class="contact-area-section backgroud-style">
  <div class="container">
    <div class="contact-area-content">
      <div class="row">
        <div class="col-md-7">
          <div class="contact-left-content ">
            <div class="section-title  mb45 headline text-left">
              <span class="subtitle ml42  text-uppercase">LIÊN HỆ VỚI CHÚNG TÔI</span>
              <h2><span>LIÊN HỆ </span></h2>
              <p>
                {{contacts?.items[0].descriptionPrimary}}
              </p>
            </div>

            <div class="contact-address">
              <div class="contact-address-details">
                <div class="address-icon relative-position text-center float-left">
                  <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="address-details ul-li-block">
                  <ul>
                    <li><span>Trụ sở chính: </span>{{contacts?.items[0].addressPrimary}}</li>
                    <li><span>Chi nhánh 1: </span>{{contacts?.items[0].addressSub}}</li>
                    <li><span>Chi nhánh 2: </span>12 CN1, Sơn Kỳ, Tân Phú, HCM</li>
                  </ul>
                </div>
              </div>

              <div class="contact-address-details">
                <div class="address-icon relative-position text-center float-left">
                  <i class="fas fa-phone"></i>
                </div>
                <div class="address-details ul-li-block">
                  <ul>
                    <li><span>Di động: </span>{{contacts?.items[0].phonePrimary}}</li>
                    <li><span>Di động: </span>{{contacts?.items[0].phoneSub}}</li>
                  </ul>
                </div>
              </div>

              <div class="contact-address-details">
                <div class="address-icon relative-position text-center float-left">
                  <i class="fas fa-envelope"></i>
                </div>
                <div class="address-details ul-li-block">
                  <ul>
                    <li><span>Mail: </span>{{contacts?.items[0].emailPrimary}}</li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="genius-btn mt60 gradient-bg text-center text-uppercase ul-li-block bold-font ">
            <a href="#">Liên Hệ Ngay <i class="fas fa-caret-right"></i></a>
          </div>
        </div>

        <div class="col-md-4" style="margin-right: 10px;">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1959.5549771653316!2d106.60910110369764!3d10.80288997298408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752bf23643e701%3A0xacf626c8fcf2e19f!2zNDY1IEjGsMahbmcgTOG7mSAzLCBCw6xuaCBIxrBuZyBIb8OgLCBUw6JuIFBow7osIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1617181390190!5m2!1sen!2s" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
