<section id="breadcrumb" class="breadcrumb-section relative-position backgroud-style">
  <div class="blakish-overlay"></div>
  <div class="container">
    <div class="page-breadcrumb-content text-center">
      <div class="page-breadcrumb-title">
        <h2 class="breadcrumb-head black bold">Genius <span>Blog</span></h2>
      </div>
      <div class="page-breadcrumb-item ul-li">
        <ul class="breadcrumb text-uppercase black">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active">ABOUT</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- End of breadcrumb section
  ============================================= -->
<!-- Start of about us content
  ============================================= -->
<section id="about-page" class="about-page-section">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="about-us-content-item">
          <div class="about-gallery">
            <div class="about-gallery-img grid-1">
              <img src="../../assets/img/about/abt-2.jpg" alt="">
            </div>
            <div class="about-gallery-img grid-2">
              <img src="../../assets/img/about/abt-3.jpg" alt="">
            </div>
            <div class="about-gallery-img grid-2">
              <img src="../../assets/img/about/abt-4.jpg" alt="">
            </div>
          </div>
          <!-- /gallery -->

          <div class="about-text-item">
            <div class="section-title-2  headline text-left">
              <h2>Lý do nên chọn  <span>TMT Solution?</span> </h2>
            </div>
            <p>
              <b>AN NINH VÀ BẢO MẬT</b><br>
              Thực hành bảo mật của chúng tôi đáp ứng tất cả các tiêu chuẩn kiểm tra an ninh, an toàn thông tin, dữ liệu.
            </p>
            <p>
              <b>GIẢI PHÁP TỔNG THỂ VỀ CNTT</b><br>
              Với một loạt các sản phẩm và dịch vụ khác nhau, chúng tôi có thể đáp ứng tất cả các nhu cầu về CNTT cho doanh nghiệp của bạn.
            </p>
            <p>
              <b>CẢI TIẾN QUY TRÌNH KỸ THUẬT</b><br>
              Thực hiện cải tiến quy trình kỹ thuật để tất cả những dự án trở nên hữu ích và đạt chất lượng tốt nhất.n.
            </p>
            <p>
              <b>ĐỘI NGŨ NĂNG ĐỘNG VÀ CHUYÊN NGHIỆP</b><br>
              Đội ngũ kỹ thuật chuyên nghiệp và năng động, có khả năng đáp ứng và hoàn thành các dự án lớn và phức tạp.
            </p>
            <p>
              <b>THÔNG TIN CHÍNH XÁC</b><br>
              Tư vấn đầy đủ thông tin và giải đáp mọi thắc mắt của bạn. Phản hồi thông tin trong suốt thời gian thực hiện để đem lại kết quả tốt nhất cho dự án của bạn.
            </p>
            <p>
              <b>NÂNG CẤP CHẤT LƯỢNG, ĐỔI MỚI DỊCH VỤ</b><br>
              Áp dụng công nghệ tân tiến, đội ngủ R&D chuyên nghiệp, sáng tạo, Chúng tôi sẽ đem đếm cho khách hàng những giải pháp hữu hiệu hơn, hiện đại hơn.
            </p>
          </div>
          <!-- /about-text -->

          


           