<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-12">
          <h2 style="text-align: center; font-weight:bold ;" >Quản lý thông tin liên hệ</h2>
        </div>
      </div>
    </div>
    <div class="search">
      <div>
        <div class="input-group" style="padding-right: 70%;padding-bottom: 9px" >
          <input [(ngModel)] = "searchText" type="text" name="search"  autocomplete="off"  class="form-control search-menu" placeholder="Search...">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
          </div>
          <div style="position:absolute;right:0">
            <button *ngIf="contact.totalCount<=0" id="create" class="btn btn-success" type="button" (click)="createContact()">
                
              <i class="fa fa-plus-square"></i>&nbsp; <span>Thêm thông tin liên hệ</span>
            
            </button>           
          </div>
        </div>
      </div>
      </div>
      <div class="table-responsive bs-example widget-shadow">
      <table class="table table-striped table-hover">
        <thead class="thead-light">
          <tr>
            <th>
              
            </th>
            <th (click) = "sort('id')">Id<i class="fa fa-sort"></i></th>
            <th>descriptionPrimary</th>
            <th>emailPrimary</th>
            <th>phonePrimary</th>
            <th>addressPrimary</th>
            <th>descriptionSub</th>
            <th>emailSub</th>
            <th>phoneSub</th>
            <th>addressSub</th>
            <th>url</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cat of contact?.items|orderBy : key : reserve| filter:searchText | slice: (SkipCount-1) * MaxResultCount : SkipCount * MaxResultCount">
            <td>
              
            </td>
            <td>{{cat?.id}}</td>
            <td>{{cat?.descriptionPrimary}}</td>
            <td>{{cat?.emailPrimary}}</td>
            <td>{{cat?.phonePrimary}}</td>
            <td>{{cat?.addressPrimary}}</td>
            <td>{{cat?.descriptionSub}}</td>
            <td>{{cat?.emailSub}}</td>
            <td>{{cat?.phoneSub}}</td>
            <td>{{cat?.addressSub}}</td>
            <td>{{cat?.url}}</td>
            <td>
                
              <a class="edit" type="button" (click)="editContact(cat.id)"
                ><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a
              >
              <a class="delete" type="button"  (click)="delete(cat.id)"
                ><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a
              >
            </td>
          </tr>
        </tbody>
      </table>
      <div class="hint-text">Tổng <b>{{contact.totalCount}}</b> thông tin</div>
      <ngb-pagination class="pagination" 
      [(page)]="SkipCount"
      [pageSize]="MaxResultCount"
      [collectionSize]="contact.totalCount">
      </ngb-pagination>
    </div>
  </div>
  <!-- Edit Modal HTML -->
  
  <abp-modal [(visible)]="isModalOpen">
    <ng-template #abpHeader>
      <h3>{{ (selectedContact.id ? '::Sửa Thông Tin Liên Hệ' : '::Thêm Thông Tin Liên Hệ') | abpLocalization }} <img src="../../../assets/img/favicon/favicon-4.png" ></h3>
    </ng-template>
  
    <ng-template #abpBody>
      <form [formGroup]="form" (ngSubmit)="save()">
        <div class="form-group">
          <label for="contact-descriptionPrimary">descriptionPrimary</label><span> * </span>
          <input type="text" id="descriptionPrimary" class="form-control" formControlName="descriptionPrimary" autofocus />
        </div>
        <div class="form-group">
          <label for="contact-emailPrimary">emailPrimary</label><span> * </span>
          <input type="text" id="emailPrimary" class="form-control" formControlName="emailPrimary" />
        </div>
        <div class="form-group">
          <label for="contact-phonePrimary">phonePrimary</label><span> * </span>
          <input type="text" id="phonePrimary" class="form-control" formControlName="phonePrimary" />
        </div>
        <div class="form-group">
          <label for="contact-addressPrimary">addressPrimary</label><span> * </span>
          <input type="text" id="addressPrimary" class="form-control" formControlName="addressPrimary" autofocus />
        </div>
        <div class="form-group">
          <label for="contact-descriptionSub">descriptionSub</label><span> * </span>
          <input type="text" id="descriptionSub" class="form-control" formControlName="descriptionSub" />
        </div>
        <div class="form-group">
          <label for="contact-emailSub">emailSub</label><span> * </span>
          <input type="text" id="emailSub" class="form-control" formControlName="emailSub" />
        </div>
        <div class="form-group">
          <label for="contact-phoneSub">phoneSub</label><span> * </span>
          <input type="text" id="phoneSub" class="form-control" formControlName="phoneSub" autofocus />
        </div>
        <div class="form-group">
          <label for="contact-addressSub">addressSub</label><span> * </span>
          <input type="text" id="addressSub" class="form-control" formControlName="addressSub" />
        </div>
        <div class="form-group">
          <label for="url">url</label><span> * </span>
          <input type="text" id="url" class="form-control" formControlName="url" />
        </div>
      </form>
    </ng-template>
  
    <ng-template #abpFooter>
      <button type="button" class="btn btn-secondary" #abpClose>
        {{ '::Close' | abpLocalization }}
      </button>
  
      <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid">
        <i class="fa fa-check mr-1"></i>
        {{ '::Save' | abpLocalization }}
      </button>
    </ng-template>
  </abp-modal>