
#slider-item:hover {
  visibility: visible;
}

#slider-item .genius-btn {
  border: 2px solid #17d0cf;
  margin-top: 30px;
}

#slider-item .owl-dots {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
}
#slider-item .owl-dots .owl-dot.active {
  height: 45px;
  width: 3px;
  border-radius: 4px;
  background-color: #fff;
}
#slider-item .owl-dots .owl-dot {
  height: 20px;
  background-color: #585656;
  width: 3px;
}

#slider-item .owl-nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 95%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#slider-item .owl-next {
  float: right;
}

#slider-item .scound-slide {
  font-size: 70px;
}

#slider-item .search-course {
  max-width: 700px;
  margin: 0 auto;
}

#slider-item .owl-item .layer-1-2 {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
  -webkit-transition: all 1s ease-in-out 0.3s;
  -o-transition: all 1s ease-in-out 0.3s;
  transition: all 1s ease-in-out 0.3s;
}

#slider-item .owl-item .layer-1-1 {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
  -webkit-transition: all 1s ease-in-out 1s;
  -o-transition: all 1s ease-in-out 1s;
  transition: all 1s ease-in-out 1s;
}

#slider-item .owl-item .layer-1-3 {
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  opacity: 0;
  -webkit-transition: all 1s ease-in-out 1.5s;
  -o-transition: all 1s ease-in-out 1.5s;
  transition: all 1s ease-in-out 1.5s;
}

#slider-item .owl-item .layer-1-4 {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
  -webkit-transition: all 1s ease-in-out 2s;
  -o-transition: all 1s ease-in-out 2s;
  transition: all 1s ease-in-out 2s;
}

#slider-item .owl-item .layer-1-5 {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
  -webkit-transition: all 1s ease-in-out 2.5s;
  -o-transition: all 1s ease-in-out 2.5s;
  transition: all 1s ease-in-out 2.5s;
}

#slider-item .owl-item .layer-1-6 {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
  -webkit-transition: all 1s ease-in-out 3s;
  -o-transition: all 1s ease-in-out 3s;
  transition: all 1s ease-in-out 3s;
}

#slider-item .owl-item.active .layer-1-2,
#slider-item .owl-item.active .layer-1-1,
#slider-item .owl-item.active .layer-1-3,
#slider-item .owl-item.active .layer-1-4,
#slider-item .owl-item.active .layer-1-5,
#slider-item .owl-item.active .layer-1-6 {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

#slider-item .owl-item.active .slider-images img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 10s;
  -o-transition: 10s;
  transition: 10s;
}

#slider-item .slider-course-category {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 25px;
}
#slider-item .slider-course-category li {
  color: #fff;
  font-weight: 700;
  margin: 0px 10px;
  position: relative;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
#slider-item .slider-course-category li:after {
  position: absolute;
  content: "";
  height: 10px;
  width: 2px;
  top: 6px;
  right: -13px;
  background-color: #8e8e8e;
}
#slider-item .slider-course-category li:last-child:after {
  display: none;
}
#slider-item .slider-course-category li:hover {
  color: #17d0cf;
}

#slider-item .third-slide {
  font-size: 60px;
}

#slider-item .secoud-title {
  font-size: 70px;
}
.course-pic img{
  height: 13rem;
}
.course-item-text{
  height: 11rem;
} 
.course-title{
  height:98px
}
.wrapper-button{
  text-align: center;
}
.map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}