<div class="container">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-12">
            <h2 style="text-align: center; font-weight:bold " >Quản lý bài học</h2>
          </div>
        </div>
      </div>
      <div class="search">
        
        <div>
          <div class="input-group" style="padding-right: 70% ;padding-bottom: 9px" >
            <input [(ngModel)] = "searchText" type="text" name="search"  autocomplete="off"  class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
            <div style="position:absolute; left:500px;">
              <label style="padding-right: 15px;font-weight: bold;">Tìm Theo Khóa Học</label>
              <!-- <select  [(ngModel)] = "searchForm"  class="form-control" id="category-id" > -->
              <!-- <select class="form-select" [(ngModel)]="selectedOption" (change)="selectcategory()" name="first" style="height: 32px; width: 130px;" >
                <option [ngValue]="0">All</option>
                <option *ngFor="let course of course$ | async" [ngValue]="course">
                  {{course.name}}
                </option>
              </select> -->
              <nz-select
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Select a course"
              [(ngModel)]="selectedOption"
              (ngModelChange)="selectcategory()"
            >
              <nz-option [nzValue]="0" nzLabel="All"></nz-option>
              <nz-option
                *ngFor="let course of course$ | async"
                [nzLabel]="course.name"
                [nzValue]="course"
              ></nz-option>
            </nz-select>
            </div>
            <div style="position:absolute;right:0">
              <button id="create" class="btn btn-success" type="button" (click)="createLesson()">
                  
                <i class="fa fa-plus-square"></i>&nbsp; <span>Thêm bài học</span>
              
              </button>           
            </div>

          </div>
        </div>
        </div>
        <div class="table-responsive bs-example widget-shadow" >
          <table class="table table-striped">
            <thead class="thead-light">
              <tr>
                <th></th>
                <th (click) = "sort('id')">Id<i class="fa fa-sort"></i></th>
                <th (click) = "sort('name')" style="width: 170px;">Tên bài học<i class="fa fa-sort"></i></th>
                <th (click) = "sort('description')"style="width: 550px;">Mô tả<i class="fa fa-sort"></i></th>
                <th (click) = "sort('coursesName')"style="width: 190px;">Tên khóa học<i class="fa fa-sort"></i></th>
                <th (click) = "sort('url')"style="width: 200px;">Link video<i class="fa fa-sort"></i></th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let c of lessons.items|orderBy : key : reserve  | filter:searchText | slice: (SkipCount-1) * MaxResultCount : SkipCount * MaxResultCount" >
                <td></td>
                <td>{{c?.id}}</td>
                <td>{{c?.name}}</td>
                <td>{{c?.description}}</td>
                <td>{{c?.coursesName}}</td>
                <td>{{c?.url}}
                  <a href="https://www.youtube.com/watch?v={{c?.url}}" target="_blank"><i class="far fa-eye"></i></a>
                </td> 
                <td>
                  
                  <a class="edit" type="button" (click)="editLesson(c?.id)"
                    ><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                  <a class="delete" type="button"  (click)="delete(c.id)"
                    ><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      
      <div class="hint-text">Tổng <b>{{lessons.totalCount}}</b> bài học</div>
      <ngb-pagination class="pagination"
      [(page)]="SkipCount"
      [pageSize]="MaxResultCount"
      [collectionSize]="lessons.totalCount">
      </ngb-pagination>
  </div>
</div>
    <div *ngIf="flag" [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-body">
      <iframe class="e2e-iframe-trusted-src"
      [src]="modalVideo" title="YouTube video player" frameborder="0" width="1000px" height="500px"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" (click) = "hide()">Close</button>
    </div>
    </div>
    </div>
  <!-- Edit Modal HTML -->

  <abp-modal [(visible)]="isModalOpen">
    <ng-template #abpHeader>
      <h3>{{ (selectedLesson.id ? '::Sửa Bài Học' : '::Thêm BÀI Học') | abpLocalization }} <img src="../../../assets/img/favicon/favicon-4.png" ></h3>
    </ng-template>
  
    <ng-template #abpBody>
      <form [formGroup]="form" (ngSubmit)="save()">
        <div class="form-group">
          <label for="name">Tên bài học</label>
          <input type="text" id="name" class="form-control" formControlName="name" autofocus />
        </div>
        <div class="form-group">
          <label for="description">Mô tả</label>
          <input type="text" id="description" class="form-control" formControlName="description" />
        </div>

        <div class="form-group">
          <label for="course-id">Chọn khóa học</label>
          <br />
          <nz-select id="trong" nzShowSearch nzAllowClear nzPlaceHolder="Select a course" formControlName="idCourse" [nzBackdrop]="true">
            
              <nz-option
                *ngFor="let course of course$ | async"
                [nzLabel]="course.name"
                [nzValue]="course.id"
              ></nz-option>
          </nz-select>
          
        </div> 


        <div class="form-group">
          <label for="url">Link video bài học</label>
          <input type="text" id="url" class="form-control" formControlName="url" />
        </div>
  
      </form>
    </ng-template>
  
    <ng-template #abpFooter>
      <button type="button" class="btn btn-secondary" #abpClose>
        {{ '::Close' | abpLocalization }}
      </button>
  
      <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid">
        <i class="fa fa-check mr-1"></i>
        {{ '::Save' | abpLocalization }}
      </button>
    </ng-template>
  </abp-modal>